
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255,255,255);
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: rgb(44,62,80);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 20px;
}

header .container {
    text-align: center;
    padding: 15px 0;
}

nav span {
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

nav span:hover {
    text-decoration: underline;
}
.banner {
    margin-top: 110px;
    position: relative;
}
.banner img {
    width: 100%;
    height: 300px;
    display: block;
}

.banner-text {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    width: 1000px;
}
.section {
    width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}
.section h2 {
    color: rgb(44,62,80);
}
.list-book {
    text-align: center;
}

.list {
    width: 200px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    position: relative;
    vertical-align: top;
    transition: all 0.5s ease;
}
.list img {
    transition: transform 0.5s ease;
}
.list:hover img {
    transform: scale(1.1);
}
.list img {
    width: 100%;
    height: 200px;
}
.list p {
    margin: 5px 0;
    transition: transform 0.3s ease;
}
.list:hover p {
     transform: translateY(5px);
}

.label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    padding: 3px 6px;
    font-size: 12px;
    z-index: 10;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th,td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #ecf0f1;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(44,62,80);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #26b89c;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
    box-shadow: none;
}
footer {
    background-color: rgb(44,62,80);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
    